.lobster {
  font-family: "Lobster Two", "cursive";
}

.brand-red {
  color: #f44336;
}

.brand {
  font-size: 36px;
  font-weight: 200;
}

.head-section {
  margin-top: 0px;
  margin-bottom: 0px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin-top: -40vh;
  background-image: linear-gradient(5deg, #f4c44a, #f44336, #f44336, #f44336);
  transform: skewY(-5deg);
}

@media only screen and (max-width: 767px) {
  .background {
    margin-top: -10vh;
  }

  .demo {
    transform: scale(0.6) !important;
    margin-top: -80px !important;
  }
}

@media only screen and (min-width: 768px) {
  .text-container {
    margin-top: 100px;
  }
}

.foreground {
  margin-top: -40px;
}

.demo-container {
  text-align: center;
}

.demo {
  display: inline-block;
  transform: scale(0.8);
  text-align: center;
}

.center {
  text-align: center;
}

.text-white {
  color: white;
}

.bold {
  font-weight: 600;
}

.title {
  font-size: 70px;
  margin-bottom: 45px;
}

.sub-title {
  font-size: 28px;
  margin-top: -20px;
  margin-left: 5px;
}

.sub-text {
  font-size: 14px;
}

.btn-dark {
  margin-bottom: 15px;
  margin-top: 15px;
}

.definition {
  background-color: rgb(82, 82, 82);
  height: 50vh;
}

.definition-title {
  margin-top: 5vh;
  margin-bottom: 0px;
  font-size: 60px;
  color: rgb(155, 155, 155);
  font-weight: 400;
}

.definition-text {
  margin-bottom: 5vh;
  color: white;
  font-weight: 200 !important;
  font-size: 1.8vh;
  line-height: 3vh;
}

.definition-max-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.seperator {
  height: 100px;
}
